
<ion-header>
  <ion-navbar color="custom">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Buy/Sell Orders</ion-title>
  </ion-navbar>
</ion-header>

    <ion-content class="white">
      <div *ngFor="let item of transactionData ">
        <div *ngIf="category == 'move' && item.amount < 0" class="card  white-text blue lighten-1 margin padding-left padding-right">
          <div class="row no-margin">
            <span class=" white-text font-lighter">Sell</span><br>
          </div>
          <div class="row no-margin">
            <div class="col-50 valign-wrapper">
              <h6 class="valign-wrapper  white-text">{{item.time* 1000 | date:'dd-MM-yy HH:mm'}}</h6>
            </div>
            <div class="col-50 no-margin">
              <span class="font-20 white-text pull-right">{{item.amount}} BCC</span>
            </div>
          </div>
        </div>

        <div *ngIf="category == 'move' && item.amount > 0" class="card white-text orange lighten-1 margin padding-left padding-right">
          <div class="row no-margin">
            <span class="font-lighter white-text ">Buy</span><br>
          </div>
          <div class="row no-margin">
            <div class="col-50 valign-wrapper">
              <h6 class="valign-wrapper white-text ">{{item.time* 1000 | date:'dd-MM-yy HH:mm'}}</h6>
            </div>
            <div class="col-50 no-margin">
              <span class="font-20 white-text  pull-right">{{item.amount}} BCC</span>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="category != 'receive'" style="margin-top: 100px;">
        <img src="../../img/empty.jpg" width="100%" class="pull-left">
      </div>
    </ion-content>
